### python3のバージョンを確認

In [1]:
!which python3

/usr/bin/python3

### packageからVESTAを読みだす

In [2]:
from my_package import visualize

### ASEでPOSCARファイルを可視化

In [4]:
from ase.io import read, write
# POSCARファイルの読み込み
atoms = read('POSCAR')

# POSCARファイルの描画
from ase.visualize import view, ngl
ngl.view_ngl(atoms)

HBox(children=(NGLWidget(), VBox(children=(Dropdown(description='Show', options=('All', 'O', 'Ba', 'C'), value…

### Converting a POSCAR file to a DataFrame

In [5]:
from my_package.textfile2df import poscar2df_coords 

df_coords = poscar2df_coords(filename='./POSCAR')
df_coords

,central atom,x,y,z,Species
0,1,0.250000000000000,0.757000000000000,0.919000000000000,C
1,2,0.250000000000000,0.743000000000000,0.419000000000000,C
2,3,0.750000000000000,0.243000000000000,0.081000000000000,C
3,4,0.750000000000000,0.257000000000000,0.581000000000000,C
4,5,0.250000000000000,0.416310000000000,0.754900000000000,Ba
5,6,0.250000000000000,0.083690000000000,0.254900000000000,Ba
6,7,0.750000000000000,0.583690000000000,0.245100000000000,Ba
7,8,0.750000000000000,0.916310000000000,0.745100000000000,Ba
8,9,0.250000000000000,0.901100000000000,0.912200000000000,O
9,10,0.250000000000000,0.598900000000000,0.412200000000000,O
10,11,0.750000000000000,0.098900000000000,0.087800000000000,O
11,12,0.750000000000000,0.401100000000000,0.587800000000000,O
12,13,0.459500000000000,0.683900000000000,0.921000000000000,O
13,14,0.040500000000000,0.816100000000000,0.421000000000000,O
14,15,0.540500000000000,0.316100000000000,0.079000000000000,O
15,16,0.040500000000000,0.683900000000000,0.921000000000000,O
16,17,0.459500000000000,0.816100000000000,0.421000000000000,O
17,18,0.959500000000000,0.183900000000000,0.579000000000000,O
18,19,0.959500000000000,0.316100000000000,0.079000000000000,O
19,20,0.540500000000000,0.183900000000000,0.579000000000000,O

### converting POSCAR.nnlist to df_nnlist

In [6]:
from my_package.textfile2df import nnlist2df
import pandas as pd

#行の表示数の上限を撤廃
pd.set_option('display.max_rows', None)

df_nnlist = nnlist2df(POSCAR_nnlist='POSCAR.nnlist')
df_nnlist

,central atom,neighboring atom,distance,X,Y,Z,unitcell_x,unitcell_y,unitcell_z,central species,neighboring species
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O
4,2,2,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
5,2,10,1.282630,0.000000,-1.281885,-0.043713,0,0,0,C,O
6,2,14,1.289100,-1.112990,0.650283,0.012857,0,0,0,C,O
7,2,17,1.289100,1.112990,0.650283,0.012857,0,0,0,C,O
8,3,3,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
9,3,11,1.282630,0.000000,-1.281885,0.043713,0,0,0,C,O
10,3,15,1.289100,-1.112990,0.650283,-0.012857,0,0,0,C,O
11,3,19,1.289100,1.112990,0.650283,-0.012857,0,0,0,C,O
12,4,4,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
13,4,12,1.282630,0.000000,1.281885,0.043713,0,0,0,C,O
14,4,18,1.289100,1.112990,-0.650283,-0.012857,0,0,0,C,O
15,4,20,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,C,O
16,5,5,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
17,6,6,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
18,7,7,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
19,8,8,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
20,9,1,1.282630,0.000000,-1.281885,0.043713,0,0,0,O,C
21,9,9,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
22,10,2,1.282630,0.000000,1.281885,0.043713,0,0,0,O,C
23,10,10,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
24,11,3,1.282630,0.000000,1.281885,-0.043713,0,0,0,O,C
25,11,11,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
26,12,4,1.282630,0.000000,-1.281885,-0.043713,0,0,0,O,C
27,12,12,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
28,13,1,1.289100,-1.112990,0.650283,-0.012857,0,0,0,O,C
29,13,13,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
30,14,2,1.289100,1.112990,-0.650283,-0.012857,0,0,0,O,C
31,14,14,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
32,15,3,1.289100,1.112990,-0.650283,0.012857,0,0,0,O,C
33,15,15,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
34,16,1,1.289100,1.112990,0.650283,-0.012857,0,0,0,O,C
35,16,16,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
36,17,2,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,O,C
37,17,17,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
38,18,4,1.289100,-1.112990,0.650283,0.012857,0,0,0,O,C
39,18,18,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
40,19,3,1.289100,-1.112990,-0.650283,0.012857,0,0,0,O,C
41,19,19,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
42,20,4,1.289100,1.112990,0.650283,0.012857,0,0,0,O,C
43,20,20,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O

In [7]:
df_nnlist[['central atom', 'neighboring atom']].to_csv('central_neighboring_atom.csv', index=False)

In [8]:
# df_nnlist['diff_central_neighbor'] = abs(df_nnlist['central atom'] - df_nnlist['neighboring atom'])

#### df_nnlist.groupby('central atom').count()['neighboring atom']で最も要素数の多いもののcentral atomをクラスタとして得る．
#### → クラスタ化されたcentral atomを重複削除する　
#### → 新しいcentral atomのリストを得る

In [9]:
df_nnlist.groupby('central atom').count()['neighboring atom']

central atom
1     4
2     4
3     4
4     4
5     1
6     1
7     1
8     1
9     2
10    2
11    2
12    2
13    2
14    2
15    2
16    2
17    2
18    2
19    2
20    2
Name: neighboring atom, dtype: int64

#### df_nnlist.groupby('central atom').count()['neighboring atom']で最も要素数の多いもののcentral atomをクラスタとして得る．

In [10]:
elem_max_num = df_nnlist.groupby('central atom').count()['neighboring atom'].max()

In [11]:
elem_max_num_filter = df_nnlist.groupby('central atom').count()['neighboring atom'] == elem_max_num

In [12]:
elem_max_num_filter

central atom
1      True
2      True
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
Name: neighboring atom, dtype: bool

In [13]:
elem_max_num_filter_list = elem_max_num_filter.to_list()

#### メモ：df_coords[elem_max_num_filter_list] によりクラスタ中心の絶対座標を得る

In [14]:
# df_coords[elem_max_num_filter_list]

#### df_nnlistで入力：central atom → 出力：neighboring atom を返す関数get_right_valueを作成．

In [15]:
import pandas as pd

# 入力値が左側の数値と同じ場合、対応する右側の数値を返す関数
def get_right_value(input_value):
    # 左側の列から対応する行を選択し、右側の数値を取得
    # result = df_nnlist[df_nnlist['central atom'] == input_value]['neighboring atom'].values
    result = df_nnlist[df_nnlist['central atom'] == input_value]['neighboring atom'].tolist()
    return result

# 関数をテスト
get_right_value(1)

[1, 9, 13, 16]

#### クラスタ中心のcentral atom(id的な番号)の一覧を得る

In [16]:
cluster_central_atom_list = df_coords[elem_max_num_filter_list]['central atom'].tolist()
print(cluster_central_atom_list)

[1, 2, 3, 4]

In [23]:
cluster_all_atom_list_dubled = [get_right_value(elem) for elem in cluster_central_atom_list]
cluster_all_atom_list_dubled

[[1, 9, 13, 16], [2, 10, 14, 17], [3, 11, 15, 19], [4, 12, 18, 20]]

### get_right_valueとcluster_central_atom_listを用いて，クラスタに入っている全原子のid(central atom)を得る．

In [24]:
# 1重リストに変換
flat_list = [item for sublist in cluster_all_atom_list_dubled for item in sublist]
# 重複削除
cluster_all_atom_set = set(flat_list)
# cluster_all_atom_list_fix = list(set(flat_list))
# print(cluster_all_atom_list_fix)

In [25]:
cluster_all_atom_set

{1, 2, 3, 4, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

#### cluster_all_atom_list_fixに含まれないcentral atomを抽出して、さらにdf_coord[]から得る．

In [26]:
all_central_atom_set = set(df_coords['central atom'].tolist())

In [27]:
all_central_atom_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20}

In [28]:
# 差分を取得
diff_central_atom_list = list(all_central_atom_set.difference(cluster_all_atom_set))
diff_central_atom_list

[8, 5, 6, 7]

### diff_central_atom_listをフィルター化する → df_coords[]に代入する

##### ある値がリストに含まれるかを判定する  ->  ex) 20 in diff_central_atom_list

In [148]:
20 in diff_central_atom_list

False

In [29]:
diff_central_atom_filter = df_coords['central atom'].apply(lambda row: row in diff_central_atom_list)
# print(diff_central_atom_filter)

In [30]:
df_coords[diff_central_atom_filter]

,central atom,x,y,z,Species
4,5,0.250000000000000,0.416310000000000,0.754900000000000,Ba
5,6,0.250000000000000,0.083690000000000,0.254900000000000,Ba
6,7,0.750000000000000,0.583690000000000,0.245100000000000,Ba
7,8,0.750000000000000,0.916310000000000,0.745100000000000,Ba

In [31]:
df_coords[pd.Series(elem_max_num_filter_list)]

,central atom,x,y,z,Species
0,1,0.250000000000000,0.757000000000000,0.919000000000000,C
1,2,0.250000000000000,0.743000000000000,0.419000000000000,C
2,3,0.750000000000000,0.243000000000000,0.081000000000000,C
3,4,0.750000000000000,0.257000000000000,0.581000000000000,C

In [32]:
pd.Series(elem_max_num_filter_list)

0      True
1      True
2      True
3      True
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
dtype: bool

### df_coords[]で、クラスタの中心の絶対座標のフィルターと重複削除された残りの絶対座標のフィルターを結合してフィルターする

#### 過不足のないcentral atomのfilterが完成

In [33]:
central_atom_filter_fix = diff_central_atom_filter | pd.Series(elem_max_num_filter_list)

#### クラスタ後の新しい絶対座標を得る

In [34]:
df_coords_abs_center = df_coords[central_atom_filter_fix]
df_coords_abs_center

,central atom,x,y,z,Species
0,1,0.250000000000000,0.757000000000000,0.919000000000000,C
1,2,0.250000000000000,0.743000000000000,0.419000000000000,C
2,3,0.750000000000000,0.243000000000000,0.081000000000000,C
3,4,0.750000000000000,0.257000000000000,0.581000000000000,C
4,5,0.250000000000000,0.416310000000000,0.754900000000000,Ba
5,6,0.250000000000000,0.083690000000000,0.254900000000000,Ba
6,7,0.750000000000000,0.583690000000000,0.245100000000000,Ba
7,8,0.750000000000000,0.916310000000000,0.745100000000000,Ba

#### クラスタ後の新しい絶対座標を文字列→数値に変換

In [35]:
# 文字列を数値化する
df_coords_abs_center['x'] = pd.to_numeric(df_coords_abs_center['x'], errors='coerce')
df_coords_abs_center['y'] = pd.to_numeric(df_coords_abs_center['y'], errors='coerce')
df_coords_abs_center['z'] = pd.to_numeric(df_coords_abs_center['z'], errors='coerce')

/tmp/ipykernel_24860/1545705368.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_abs_center['x'] = pd.to_numeric(df_coords_abs_center['x'], errors='coerce')
/tmp/ipykernel_24860/1545705368.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_abs_center['y'] = pd.to_numeric(df_coords_abs_center['y'], errors='coerce')
/tmp/ipykernel_24860/1545705368.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_abs_center['z'] = pd.to_numeric(df_coords_abs_center['z'], errors='coerce')

In [36]:
df_coords_abs_center

   central atom        x        y        z Species
0             1 0.250000 0.757000 0.919000       C
1             2 0.250000 0.743000 0.419000       C
2             3 0.750000 0.243000 0.081000       C
3             4 0.750000 0.257000 0.581000       C
4             5 0.250000 0.416310 0.754900      Ba
5             6 0.250000 0.083690 0.254900      Ba
6             7 0.750000 0.583690 0.245100      Ba
7             8 0.750000 0.916310 0.745100      Ba

#### クラスタの相対中心座標を計算

In [37]:
df_nnlist_grouped = df_nnlist.groupby('central atom').mean()
# central atomカラムでgroupby.mean()した後、index列(central atom)をカラムにする   
df_nnlist_grouped = df_nnlist_grouped.reset_index()

/tmp/ipykernel_24860/3839055567.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_nnlist_grouped = df_nnlist.groupby('central atom').mean()

In [38]:
df_cluster_relative_center = df_nnlist_grouped[central_atom_filter_fix]
df_cluster_relative_center

,central atom,neighboring atom,distance,X,Y,Z,unitcell_x,unitcell_y,unitcell_z
0,1,9.750000,0.965207,0.000000,-0.004670,-0.004500,0.000000,0.000000,0.000000
1,2,10.750000,0.965207,0.000000,0.004670,-0.004500,0.000000,0.000000,0.000000
2,3,12.000000,0.965207,0.000000,0.004670,0.004500,0.000000,0.000000,0.000000
3,4,13.500000,0.965207,0.000000,-0.004670,0.004500,0.000000,0.000000,0.000000
4,5,5.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
5,6,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,7,7.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,8,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

### 絶対座標 + 相対座標の計算

In [39]:
def get_clusterd_coords(df_abs=df_coords_abs_center, df_relative=df_cluster_relative_center):
    df_coords_x = df_abs['x'] + df_relative['X']
    df_coords_y = df_abs['y'] + df_relative['Y']
    df_coords_z = df_abs['z'] + df_relative['Z']
    df_coords_species = df_abs['Species']

    # カラム名を指定してデータフレームを作成
    df_coords_fix = pd.DataFrame({
        'X': df_coords_x,
        'Y': df_coords_y,
        'Z': df_coords_z,
        'Species': df_coords_species,
    })

    return df_coords_fix

In [40]:
df_coords_fix = get_clusterd_coords(df_abs=df_coords_abs_center, df_relative=df_cluster_relative_center)
df_coords_fix

         X        Y        Z Species
0 0.250000 0.752330 0.914500       C
1 0.250000 0.747670 0.414500       C
2 0.750000 0.247670 0.085500       C
3 0.750000 0.252330 0.585500       C
4 0.250000 0.416310 0.754900      Ba
5 0.250000 0.083690 0.254900      Ba
6 0.750000 0.583690 0.245100      Ba
7 0.750000 0.916310 0.745100      Ba

In [41]:
### 元のPOSCARファイルから5行目までを抽出して、新しいPOSCARファイルに書き込む関数

In [42]:
def df2poscar(df=df_coords_fix, original_file="./POSCAR", output_file="gen_data/POSCAR"):
    """
    Writing the DataFrame(:df_coords_fix) to a POSCAR file.
    param1: DataFrame that has 'X', 'Y', 'Z' columns about coords.
    param2: original POSCAR file
    param3: generated POSCAR file
    """
    
    # df_coords_fixを文字列に変換
    def df2str(df):
        df_coords_fix_str = df[['X', 'Y', 'Z']].to_string(header=False, index=False, index_names=False)
        return df_coords_fix_str
    
    # df_coords_fixから元素種を文字列として抽出する関数
    def return_species(df):
        speies_0 = df['Species'].unique()[0]
        speies_1 = df['Species'].unique()[1]
        num_C = len(df[df['Species'] == speies_0])
        num_Ba = len(df[df['Species'] == speies_1])

        species_line = f"""   {speies_0}   {speies_1}
       {num_C}   {num_Ba}"""

       #  species_line = f"""   {speies_0}
       # {num_C}   """
        
        return species_line

    
    # 元のPOSCARファイルの5行目までを抽出し，新しいファイルに書き込む
    def wirte_header2poscar():
        # 最初の5行を抽出
        with open(original_file, 'r') as infile:
            lines = infile.readlines()[:5]
        # 新しいPOSCARファイルに書き込む
        with open(output_file, 'w') as outfile:
            outfile.writelines(lines)
    
    
    # 新しいPOSCARファイルに書き込んでいく
    def write_species2poscar():
        with open(output_file, 'a') as file:
            # すでに存在するテキストファイルに元素種を追記
            file.write(return_species(df) + '\n')
            # 元素種まで書かれたファイルにDirectという文字をを追記
            file.write('Direct\n' )
            # 直交座標を追記
            file.write(df2str(df))

            
    # 関数をcall
    df2str(df)
    wirte_header2poscar()
    write_species2poscar()
    
    print(f"{output_file} にクラスタ化後の内容が書き込まれました。")

In [43]:
df2poscar()

gen_data/POSCAR にクラスタ化後の内容が書き込まれました。

In [44]:
#### 編集後のposcarファイルをASEで可視化

In [49]:
from ase.io import read, write

output_file="gen_data/POSCAR"
# POSCARファイルの読み込み
atoms = read(output_file)

# POSCARファイルの描画
from ase.visualize import view, ngl
ngl.view_ngl(atoms)

HBox(children=(NGLWidget(), VBox(children=(Dropdown(description='Show', options=('All', 'Ba', 'C'), value='All…

In [48]:
from ase.io import read, write
# POSCARファイルの読み込み
atoms = read('POSCAR')

# POSCARファイルの描画
from ase.visualize import view, ngl
ngl.view_ngl(atoms)

HBox(children=(NGLWidget(), VBox(children=(Dropdown(description='Show', options=('All', 'O', 'Ba', 'C'), value…

### df_nnlistの内、central_atom => neighboring_atom のものを削除
#### ∵central_atom < neighboring_atom ですでにクラスタとして選ばれているから

### df_coords, df_nnlist --> df_coords_clustered
##### 1. df_nnlist  -> df_nnlist_rm_duble（重複削除）
##### 2. df_coords, clusterのfilter  -> df_coords_filterd（クラスタで絞った元の絶対座標）
##### 3. df_nnlist, clusterのfilter  -> df_nnlist_meaned_filterd（クラスタの相対中心座標）
##### 4. df_coords_filterd  ->  df_coords_filterd_2num （df要素の「数値化」）
##### 5. df_nnlist_meaned_filterd + df_coords_filterd_2num -> df_coords_clusterd（クラスタ化された絶対座標）

#### 1. df_nnlist  -> df_nnlist_rm_duble（重複削除）

In [8]:
df_nnlist = nnlist2df(POSCAR_nnlist='POSCAR.nnlist')

In [9]:
def mk_rm_duble_filter(df_nnlist):
    
    df_nnlist_grouped = df_nnlist.groupby(by='central atom').mean()
    # central atomカラムでgroupbyした後、index列(central atom)をカラムにする
    df_nnlist_grouped = df_nnlist_grouped.reset_index()
    
    rm_duble_filter = df_nnlist_grouped['central atom'] <= df_nnlist_grouped['neighboring atom']
    df_nnlist_rm_duble = df_nnlist_grouped[rm_duble_filter]
    
    rm_duble_filter = df_coords['central atom'].isin(df_nnlist_rm_duble['central atom'])
    
    return rm_duble_filter

In [10]:
rm_duble_filter = mk_rm_duble_filter(df_nnlist)

/tmp/ipykernel_21594/4170100849.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_nnlist_grouped = df_nnlist.groupby(by='central atom').mean()

In [11]:
rm_duble_filter

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36     True
37     True
38     True
39     True
Name: central atom, dtype: bool

#### 2. クラスタ化された絶対中心座標をえる関数

In [12]:
# df_nnlistから重複削除（クラスタ化された絶対中心座標に絞る）
def get_df_coords_filterd(df_nnlist):
    rm_duble_filter = mk_rm_duble_filter(df_nnlist)
    df_coords_filterd = df_coords[rm_duble_filter]

    # 文字列を数値化する
    df_coords_filterd['x'] = pd.to_numeric(df_coords_filterd['x'], errors='coerce')
    df_coords_filterd['y'] = pd.to_numeric(df_coords_filterd['y'], errors='coerce')
    df_coords_filterd['z'] = pd.to_numeric(df_coords_filterd['z'], errors='coerce')

    return df_coords_filterd

In [13]:
df_coords_filterd = get_df_coords_filterd(df_nnlist)
df_coords_filterd

/tmp/ipykernel_21594/4170100849.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_nnlist_grouped = df_nnlist.groupby(by='central atom').mean()
/tmp/ipykernel_21594/2864673522.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_filterd['x'] = pd.to_numeric(df_coords_filterd['x'], errors='coerce')
/tmp/ipykernel_21594/2864673522.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_filterd['y'] = pd.to_numeric(df_coords_filterd['y'], errors='coerce')
/tmp/ipykernel_21594/2864673522.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_coords_filterd['z'] = pd.to_numeric(df_coords_filterd['z'], errors='coerce')

    central atom        x        y        z Species
0              1 0.833700 0.115500 0.979000       O
1              2 0.166300 0.884500 0.021000       O
2              3 0.166300 0.615500 0.521000       O
3              4 0.833700 0.384500 0.479000       O
4              5 0.894800 0.901500 0.647000       O
5              6 0.105200 0.098500 0.353000       O
6              7 0.105200 0.401500 0.853000       O
7              8 0.894800 0.598500 0.147000       O
8              9 0.542500 0.969200 0.802000       O
9             10 0.457500 0.030800 0.198000       O
10            11 0.457500 0.469200 0.698000       O
11            12 0.542500 0.530800 0.302000       O
12            13 0.403900 0.183500 0.799100       O
13            14 0.596100 0.816500 0.200900       O
14            15 0.596100 0.683500 0.700900       O
15            16 0.403900 0.316500 0.299100       O
16            17 0.048100 0.108400 0.697800       O
17            18 0.951900 0.891600 0.302200       O
18            19 0.951900 0.608400 0.802200       O
19            20 0.048100 0.391600 0.197800       O
20            21 0.705200 0.329000 0.894400       O
21            22 0.294800 0.671000 0.105600       O
22            23 0.294800 0.829000 0.605600       O
23            24 0.705200 0.171000 0.394400       O
36            37 0.827300 0.826100 0.956800      Sr
37            38 0.172700 0.173900 0.043200      Sr
38            39 0.172700 0.326100 0.543200      Sr
39            40 0.827300 0.673900 0.456800      Sr

### クラスタ化された相対中心座標を計算する関数

In [14]:
def get_cluster_relative_center(df_nnlist, rm_duble_filter):
    """
    Calculating relative center coordinates of cluster
    param1: df_nnlist
    
    output: df_cluster_relative_center
    """
    df_nnlist_grouped = df_nnlist.groupby(by='central atom').mean()
    # central atomカラムでgroupbyした後、index列(central atom)をカラムにする
    df_nnlist_grouped = df_nnlist_grouped.reset_index()
    # 重複削除
    df_cluster_relative_center = df_nnlist_grouped[rm_duble_filter]
    
    return df_cluster_relative_center

In [27]:
df_cluster_relative_center = get_cluster_relative_center(df_nnlist, rm_duble_filter)
df_cluster_relative_center

/tmp/ipykernel_21594/3369655468.py:8: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_nnlist_grouped = df_nnlist.groupby(by='central atom').mean()

,central atom,neighboring atom,distance,X,Y,Z,unitcell_x,unitcell_y,unitcell_z
0,1,15.000000,0.613961,-0.446949,0.338284,-0.250497,0.000000,0.000000,0.000000
1,2,16.000000,0.613961,0.446949,-0.338284,0.250497,0.000000,0.000000,0.000000
2,3,17.000000,0.613961,0.446949,0.338284,0.250497,0.000000,0.000000,0.000000
3,4,18.000000,0.613961,-0.446949,-0.338284,-0.250497,0.000000,0.000000,0.000000
4,5,19.000000,0.587037,0.346776,0.444142,-0.164612,0.000000,0.000000,0.000000
5,6,20.000000,0.587037,-0.346776,-0.444142,0.164612,0.000000,0.000000,0.000000
6,7,21.000000,0.587037,-0.346776,0.444141,0.164612,0.000000,0.000000,0.000000
7,8,22.000000,0.587037,0.346776,-0.444142,-0.164612,0.000000,0.000000,0.000000
8,9,17.000000,0.625089,-0.046610,0.615815,0.096620,0.000000,0.500000,0.000000
9,10,18.000000,0.625089,0.046610,-0.615815,-0.096620,0.000000,-0.500000,0.000000
10,11,19.000000,0.625089,0.046610,0.615815,-0.096620,0.000000,0.000000,0.000000
11,12,20.000000,0.625089,-0.046610,-0.615815,0.096620,0.000000,0.000000,0.000000
12,13,19.000000,0.633991,0.503215,-0.370501,0.106998,0.000000,0.000000,0.000000
13,14,20.000000,0.633991,-0.503215,0.370501,-0.106998,0.000000,0.000000,0.000000
14,15,21.000000,0.633991,-0.503215,-0.370501,-0.106998,0.000000,0.000000,0.000000
15,16,22.000000,0.633991,0.503215,0.370501,0.106998,0.000000,0.000000,0.000000
16,17,25.000000,0.654774,-0.224839,-0.508116,-0.346402,-0.500000,-0.500000,0.000000
17,18,26.000000,0.654774,0.224839,0.508116,0.346402,0.500000,0.500000,0.000000
18,19,27.000000,0.654774,0.224839,-0.508116,0.346402,0.500000,0.000000,0.000000
19,20,28.000000,0.654774,-0.224839,0.508116,-0.346402,-0.500000,0.000000,0.000000
20,21,25.000000,0.646464,-0.000052,-0.644350,0.052247,0.000000,0.000000,0.000000
21,22,26.000000,0.646464,0.000052,0.644350,-0.052247,0.000000,0.000000,0.000000
22,23,27.000000,0.646464,0.000052,-0.644350,-0.052247,0.000000,0.000000,0.000000
23,24,28.000000,0.646464,-0.000052,0.644350,0.052247,0.000000,0.000000,0.000000
36,37,37.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
37,38,38.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
38,39,39.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
39,40,40.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

### = 元のPOSCARファイルのdf + nnlistで得たクラスタ相対中心座標

In [16]:
def get_clusterd_coords(df_abs=df_coords_filterd, df_relative=df_cluster_relative_center):
    df_coords_x = df_abs['x'] + df_relative['X']
    df_coords_y = df_abs['y'] + df_relative['Y']
    df_coords_z = df_abs['z'] + df_relative['Z']
    df_coords_species = df_abs['Species']

    # カラム名を指定してデータフレームを作成
    df_coords_fix = pd.DataFrame({
        'X': df_coords_x,
        'Y': df_coords_y,
        'Z': df_coords_z,
        'Species': df_coords_species,
    })

    return df_coords_fix

In [17]:
df_coords_fix = get_clusterd_coords(df_abs=df_coords_filterd, df_relative=df_cluster_relative_center)
df_coords_fix

           X         Y         Z Species
0   0.386751  0.453784  0.728503       O
1   0.613249  0.546216  0.271498       O
2   0.613249  0.953784  0.771497       O
3   0.386751  0.046216  0.228502       O
4   1.241577  1.345641  0.482388       O
5  -0.241576 -0.345642  0.517613       O
6  -0.241576  0.845641  1.017613       O
7   1.241577  0.154359 -0.017613       O
8   0.495889  1.585014  0.898621       O
9   0.504111 -0.585014  0.101380       O
10  0.504111  1.085014  0.601379       O
11  0.495889 -0.085014  0.398620       O
12  0.907115 -0.187001  0.906098       O
13  0.092885  1.187002  0.093902       O
14  0.092885  0.312999  0.593902       O
15  0.907115  0.687002  0.406098       O
16 -0.176739 -0.399716  0.351398       O
17  1.176740  1.399716  0.648602       O
18  1.176740  0.100284  1.148602       O
19 -0.176739  0.899716 -0.148602       O
20  0.705148 -0.315350  0.946646       O
21  0.294852  1.315350  0.053353       O
22  0.294852  0.184650  0.553354       O
23  0.705148  0.815350  0.446646       O
36  0.827300  0.826100  0.956800      Sr
37  0.172700  0.173900  0.043200      Sr
38  0.172700  0.326100  0.543200      Sr
39  0.827300  0.673900  0.456800      Sr

### 元のPOSCARファイルから5行目までを抽出して、新しいPOSCARファイルに書き込む関数

In [23]:
def df2poscar(df=df_coords_fix, original_file="./POSCAR", output_file="gen_data/POSCAR"):
    """
    Writing the DataFrame(:df_coords_fix) to a POSCAR file.
    param1: DataFrame that has 'X', 'Y', 'Z' columns about coords.
    param2: original POSCAR file
    param3: generated POSCAR file
    """
    
    # df_coords_fixを文字列に変換
    def df2str(df):
        df_coords_fix_str = df[['X', 'Y', 'Z']].to_string(header=False, index=False, index_names=False)
        return df_coords_fix_str
    
    # df_coords_fixから元素種を文字列として抽出する関数
    def return_species(df):
        speies_0 = df['Species'].unique()[0]
        speies_1 = df['Species'].unique()[1]
        num_C = len(df[df['Species'] == speies_0])
        num_Ba = len(df[df['Species'] == speies_1])

        species_line = f"""   {speies_0}   {speies_1}
       {num_C}   {num_Ba}"""

       #  species_line = f"""   {speies_0}
       # {num_C}   """

        
        return species_line

    
    # 元のPOSCARファイルの5行目までを抽出し，新しいファイルに書き込む
    def wirte_header2poscar():
        # 最初の5行を抽出
        with open(original_file, 'r') as infile:
            lines = infile.readlines()[:5]
        # 新しいPOSCARファイルに書き込む
        with open(output_file, 'w') as outfile:
            outfile.writelines(lines)
    
    
    # 新しいPOSCARファイルに書き込んでいく
    def write_species2poscar():
        with open(output_file, 'a') as file:
            # すでに存在するテキストファイルに元素種を追記
            file.write(return_species(df) + '\n')
            # 元素種まで書かれたファイルにDirectという文字をを追記
            file.write('Direct\n' )
            # 直交座標を追記
            file.write(df2str(df))

            
    # 関数をcall
    df2str(df)
    wirte_header2poscar()
    write_species2poscar()
    
    print(f"{output_file} にクラスタ化後の内容が書き込まれました。")

In [24]:
df2poscar(df=df_coords_fix)

gen_data/POSCAR にクラスタ化後の内容が書き込まれました。

#### 編集後のposcarファイルをASEで可視化

In [25]:
from ase.io import read, write

output_file="gen_data/POSCAR"
# POSCARファイルの読み込み
atoms = read(output_file)

# POSCARファイルの描画
from ase.visualize import view, ngl
ngl.view_ngl(atoms)

HBox(children=(NGLWidget(), VBox(children=(Dropdown(description='Show', options=('All', 'Sr', 'O'), value='All…

#### 編集前のposcarファイルをASEで可視化

In [26]:
from ase.io import read, write

output_file="./POSCAR"
# POSCARファイルの読み込み
atoms = read(output_file)

# POSCARファイルの描画
from ase.visualize import view, ngl
ngl.view_ngl(atoms)

HBox(children=(NGLWidget(), VBox(children=(Dropdown(description='Show', options=('All', 'Sr', 'C', 'O'), value…

### 編集後のPOSCARファイルをVESTAで可視化

In [38]:
from my_package import visualize
POSCAR = './gen_data//POSCAR'
visualize.vesta(POSCAR)

(VESTA-gui:20381): Gtk-WARNING **: 18:41:12.797: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-WARNING **: 18:41:12.797: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-WARNING **: 18:41:12.797: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-WARNING **: 18:41:12.797: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-CRITICAL **: 18:41:12.799: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

(VESTA-gui:20381): Gtk-WARNING **: 18:41:12.977: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-WARNING **: 18:41:12.977: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-CRITICAL **: 18:41:12.977: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

(VESTA-gui:20381): Gtk-WARNING **: 18:41:13.295: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-WARNING **: 18:41:13.296: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-WARNING **: 18:41:13.296: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-WARNING **: 18:41:13.296: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-CRITICAL **: 18:41:13.296: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

(VESTA-gui:20381): Gtk-WARNING **: 18:41:13.459: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-WARNING **: 18:41:13.460: Negative content width -2 (allocation 32, extents 17x17) while allocating gadget (node button, owner GtkButton)

(VESTA-gui:20381): Gtk-CRITICAL **: 18:41:13.460: gtk_box_gadget_distribute: assertion 'size >= 0' failed in GtkNotebook

type=0 format=0 nitems=0 atom=276 252
workspace= 0 : -1, x=8, y=64; Screen_W=1504